* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    height: 100svh;
    width: 100svw;
    display: flex;
    justify-content: center;
    align-items: center;

    #grid {
        width: 60svw;
        height: 60svw;
        display: flex;
        flex-wrap: wrap;

        .square {
            height: 3svw;
            width: 3svw;
            border: solid black 1px;
        }
    }
}