* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    height: 100svh;
    width: 100svw;
    display: flex;
    justify-content: center;
    align-items: center;

    #grid {
        width: 40svw;
        height: 40svw;
        display: flex;
        flex-wrap: wrap;

        .square {
            height: 2svw;
            width: 2svw;
        }

        .dark{
            background-color: limegreen;
            filter: contrast(80%);
        }
        .light{
            background-color: lightgreen;
            filter: contrast(80%);
        }
    }
}



