* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#root {
    height: 100svh;
    width: 100svw;
    display: flex;
    justify-content: center;
    align-items: center;

    #grid {
        width: 40svw;
        height: 40svw;
        display: flex;
        flex-wrap: wrap;

        .square {
            user-select: none;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2svw;
            width: 2svw;
            font-size: 1.7svw;

            .imgFlag{
                height: 100%;
                width: 100%;
                animation: fall .15s ease;
            }
        }

        .dark {
            background-color: limegreen;
            filter: contrast(80%);
        }
        .light {
            background-color: lightgreen;
            filter: contrast(80%);
        }
        .openDark {
            background-color: tan;
            filter: contrast(90%);
            animation: animChecked 0.1s;
        }
        .openLight {
            background-color: wheat;
            filter: contrast(90%);
            animation: animChecked 0.1s;
        }

    }
}



@keyframes animChecked {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes fall {
    from {
      transform: translateY(-20px);
    }
    to{
      transform:translateY(0);
    }
  }